@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');

/* * {
    background-color: gray;
} */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    /* 90px/16px * 100% = 562.5% */
    /* 562.5% = 5.625em */
    /* 16px = 100% = 1em */
    /* 1em = 1rem */
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #9D84B7;
}

h2 {
    /* width: 11%;
    margin: 0 auto; */
    font-weight: normal;
    line-height: 2;
    color: #916BBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #916BBF;
}

.top-container {
    background-color: #93B5C6;
    position: relative;
    padding-top: 100px;
}


/* p {
    background-color: green;
}

span {
    background-color: yellow;
} */

.web {
    text-decoration: underline;
}


/* top right bottom left
   top right&left bottom
   top&bottom  right&left
   all sides */

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.intro {
    width: 30%;
    margin: auto;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.computer-description,
.code-description {
    line-height: 3;
    /* clear: both; */
}


/* .computer-description {
    clear: left;
}

.code-description {
    clear: right;
} */

hr {
    border: dotted #ED50F1 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-message {
    width: 40%;
    margin: 100px auto;
}

.btn {
    background: #A8E7E9;
    background-image: -webkit-linear-gradient(top, #A8E7E9, #326da3);
    background-image: -moz-linear-gradient(top, #A8E7E9, #326da3);
    background-image: -ms-linear-gradient(top, #A8E7E9, #326da3);
    background-image: -o-linear-gradient(top, #A8E7E9, #326da3);
    background-image: linear-gradient(to bottom, #A8E7E9, #326da3);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #f5f523;
    background-image: -webkit-linear-gradient(top, #f5f523, #c8cf3e);
    background-image: -moz-linear-gradient(top, #f5f523, #c8cf3e);
    background-image: -ms-linear-gradient(top, #f5f523, #c8cf3e);
    background-image: -o-linear-gradient(top, #f5f523, #c8cf3e);
    background-image: linear-gradient(to bottom, #f5f523, #c8cf3e);
    text-decoration: none;
}

.bottom-container {
    background-color: #2e999c;
    padding: 50px 0 20px;
}

.footer-link {
    color: #A9E4D7;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #FFEF78;
}

.copyright {
    color: #FFEF78;
    font-size: 0.75rem;
    padding: 20px 0;
}

.middle-container {
    margin: 100px 0 100px;
}